.card {
    width: 80%;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1.5rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body a {
    font-size: 1.8rem;
    background: linear-gradient(to bottom, #22c55e, #0ea5e9);
    border: none;
    display: block;
}