.AdminTickets{
    flex: 4;
}

.ticket-image {
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative; 
    z-index: 1; 
}

.ticket-image:hover {
    transform: scale(8);
    z-index: 10;
    -webkit-transform: scale(8);
    -moz-transform: scale(8);
    -ms-transform: scale(8);
    -o-transform: scale(8);
    position: relative;
    z-index: 99;
}
